/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "PressStart2P";
  font-style: normal;
  src: url(./PressStart2P-Regular.woff);
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style:bold;
  src: 
    local('Inter'),
    url(./Inter-Variable.woff2) format('woff2 supports variations'),
    url(./Inter-Variable.woff2) format('woff2-variations');
  font-weight: 100 900;
  
}