/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: var(--main_font-variation-section);
  background-image: var(--bg-repeating-linear-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.header {
  font-family: var(--accent-font);
  margin-top: 100px;
  block-size: 327px;
}

.width-clamp {
  width: var(--header-width);
}

.header_logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.border-box {
  background-color: #FFFFFF;
  border-inline-start: 2px solid #000000;
  border-inline-end: 2px solid #000000;
  border-block-start: 2px solid #000000;
  border-block-end: 2px solid #000000;
}

.header_logo-text {
  display: block;
  font-size: clamp(49px, 2rem + 3vw, 65px);
  font-weight: normal;
}

.header_comment-text {
  font-size: clamp(14px, 0.6rem + 1vw, 23px);
  font-weight: normal;
  text-transform: uppercase;
}

.main {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px;
}

.section-name {
  font-family: var(--main-font);
  font-size: var(--name_font-size-section);
  font-variation-settings: var(--name_font-variation-section);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-start: 4px;
  padding-block-end: 4px;
}

.section-card {
  display: grid;
  grid-template-columns: 1fr;
}

.container-img {
  position: relative;
}

.label {
  position: absolute;
  z-index: 2;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 1px 0px 0 #fff,
                0px -1px 0 #fff,
                0px 1px 0 #fff,
                -1px 0px 0 #fff;
  filter: opacity(50%);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px #fff) {
  .label {
    text-stroke: 1px #fff;
    text-shadow:none;
  }
}

.card-img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.gray-scale_img {
  filter: grayscale(0.65);
}

.saturate_img {
  filter: saturate(300%);
}

.hue_img {
  filter: hue-rotate(20deg);
}

.invert_img {
  filter: invert(0.7);
}

.sepia_img {
  filter: sepia(80%);
}

.blur_img {
  filter: blur(4px);
  overflow: hidden;
}

.multi-filter_img {
  filter: hue-rotate(100deg) brightness(90%) opacity(70%);
  
}

.card-text_container {
  margin-block-start: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-text {
  font-family: var(--main-font);
  font-size: var(--main_font-size-section);
  font-variation-settings: var(--main_font-variation-section);
  padding-inline-start: 25px;
  padding-inline-end: 25px;
}

.container__buttons {
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  gap: 7px;
  justify-content: end;
  align-items: center;
}

.card__icon-button {
  display: flex;
  padding: 0;
  inline-size: 34px;
  block-size: 34px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
}

.like-icon {
  z-index: 2;
}

.like-icon:hover .core {
  fill: var(--hover-heart-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--hover-heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.is-liked {
  animation: heart 0.3s ease-in 1;
  animation-delay: 0.1s;
}

.is-liked .sparks {
  
  animation: sparks 0.3s ease-in 1;
  animation-delay: 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.contour {
  /* контур */
  transition: fill 0.1s linear 0s;
}

.main-body {
  /* основная заливка */
  transition: fill 0.3s linear 0s;
}

.core {
  /* сердцевина */
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  /* искры */
  opacity: 0;
}

.button {
  background-color: #fff;
  border: 2px solid #000;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  position: relative;
  padding: 0;
  inline-size: 130px;
  block-size: 38px;
  overflow: hidden;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 #000000;
}

.button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: #fff;
  color: var(--color_for_differ);
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0%);
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--font-size-button);
  text-align: center;
  z-index: 2;
  color: var(--color_for_differ);
  mix-blend-mode: difference;
}

.footer-button {
  inline-size: 306px;
  block-size: 84px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 8px;
  margin-bottom: 100px;
}

.floppy {
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 28px;
  height: 28px;
}

.footer-button .button__text {
  grid-column: 1/2;
  grid-row: 2/3;
}

.dialog {
  display: none;
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 14px;
  inline-size: 341px;
  block-size: 191px;
  
}

.dialog[open] {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
  column-gap: 12px;
  row-gap: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog-text {
  display: block;
  text-transform: uppercase;
  line-height: 21px;
}

.dialog .floppy {
  width: 39px;
  height: 39px;
}

.submit {
  grid-column: 1/3;
  inline-size: 261px;
  block-size: 38px;
  position: relative;
  overflow: hidden;
}

@media (width > 375px) {
  .header {
    block-size: 368px;
  }

  .header_logo-text {
    /* font-size: clamp; */
  }

  .header_comment-text {
    /* font-size: 23px; */
  }

  .main {
    margin-top: 98px;
  }

  .container-img {
  max-height: 700px;
  }

  .footer-button {
    inline-size: 335px;
    block-size: 55px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    gap: 8px;
  }

  .floppy {
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 21px;
    height: 21px;
    
  }

  .footer-button .button__text {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .dialog {
    inline-size: 353px;
    block-size: 191px;
  }

  .dialog[open] {
    padding-left: 28px;
    padding-right: 28px;
    column-gap: 20px;
  }

  .submit {
    inline-size: 293px;
    block-size: 38px;
  }
}
